/*
    Theme Name: Inhouse
    Theme URL: ##
    Author: Sangrai67
    
*/
/* CUSTOM-FONT */

@import url('../css/owl-carousel.css');
body{margin:0; padding:0;font-family: 'Karla'; font-size: 15px;color:#373737}
h1, h2, h3, h4, h5, h6 {
    font-family: "Karla", Helvetica, Arial, sans-serif;
}
p{font-size:15px;}


h1 {
    font-size: 62px;
}

h2 {
    font-size: 30px;
    margin-bottom: 65px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

/* ==================================================
  General
  ================================================== */
a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */
.btn {
    background-color: #000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #fff;
    padding:0.43rem 1.5rem;
    border-radius: 0; -webkit-transition: .3s ease-out;
    transition: .3s ease-out; -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    color: #fff;
    background:#006a4e;
}

.btn:focus {
    color: #fff;
}

section {
    padding: 85px 0;
}


a:hover {
    text-decoration: none !important;
}



/* ==================================================
  Header Styling
================================================== */
.top-bar{background:#006a4e;padding: 5px 0;}
.tp-heading .visit-btn {
    background: #fff;
    color: #444;
    padding:3px 25px;
    font-size: 0.9rem;
    border-radius: 0;
}
.tp-heading {
    color: #fff;
    margin-bottom: 0;
    padding-top: 6px;font-size: 16px;
}
header {
    background:#fff;

}
.navbar-brand img {
    max-width: 100px;
}
.custom-navheader img {
    max-width: 210px;
}
.right-list {
    display: flex;
    flex-wrap: wrap;padding-top: 15px;
}
.right-list li{padding:0 10px;}
.right-list li:last-child {	padding-right: 0;}
.right-list li a{color:#010101; position:relative;text-transform:uppercase;transition:all 0.3s ease 0s;}
.right-list li a i {padding-right: 5px;}
.right-list li:hover > a{color:#006a4e}
.right-list li > a::before {
    content: "";
    position: absolute;
    left: -12px;
    width: 1px;
    height: 13px;
    background: #010101;
    top: 3px;
}
.right-list li:first-child > a::before{width:0;}
.theme-navheader{padding-left:0;padding-right:0;}
.tp-heading .hide-xs {
    padding-right: 15px;
}
.language-drop a {
    width: 100%;
    display: block;
    padding: 0 15px;
    text-transform: none !important;
    color: #000;
}
.language-drop a img {
    float: left;
    padding: 6px;
}
.language-drop a:hover {
    background: #eee;
    color: #006a4e;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.theme-nav {
    background: #000;
}
.theme-nav ul li a {
    padding:13px 15px;
    display: block;
    color: #fff;
    font-weight:500;
    transition: all 0.3s ease 0s;
    text-transform:uppercase;
}
.theme-nav ul li:hover > a, .theme-nav ul li.active > a{color: #DEB100;}
.custom-navheader {
    padding: .5rem 1rem 0;
}

.theme-sider .carousel-inner .carousel-item{height:95vh; width:100%; background-size:cover!important;background-position:center center!important;}

.crousal-caption h4{

    font-family: 'Lora', serif;
}

.crousal-caption h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f42a41;
}
.crousal-caption h1 {
    text-transform: uppercase;
    color: #000;
    font-family: 'Lora', serif;
    font-weight: 600;
}
.crousal-caption h3 {
    font-weight: 600;
    font-size: 28px;
    color: #111;
}
.crousal-caption {
    top: 30%;
    bottom: auto;
    position: absolute;
    padding-left: 2rem;
}
.crousal-caption .btn-lead {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
}
.carousel-control-next .fa, .carousel-control-prev .fa {
    color: #000;
    font-size: 27px;
    border: solid 1px #000;
    padding: 6px 15px;
    border-radius: 50%;
}
.carousel-control-next:hover .fa, .carousel-control-prev:hover .fa{background:#111; color:#fff;}

.item-img {
    padding: 1rem;
}
.popular-trend {
    background: #fff;
}
.item-card {
    background-color: #eee !important;
    border: none;
    border-radius: 0;
    background-size: contain !important;
    min-height: 510px;
    background-repeat: no-repeat !important;
    padding: 15px;
    background-position: top 0 left 15px !important;
    margin-bottom:30px;
}
.item-card2{background-position: top 0 left 15px !important;}
.item-card .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
    padding: 1rem;
    min-height: 510px;
}
.item-card .overlay-text {
    display: table-cell;
    vertical-align: middle;
}
.item-card .btn-lead {
    padding: 0.65rem 2.5rem;
    font-weight: 300;
    font-size: 0.85rem;
}
.item-card3 {
    background-position: bottom 0 center !important;
}
.item-card .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    height: 510px; max-height: 510px;
}
.item-card3 .overlay-content {
    display: block;
}

.overlay-text h2 {
    font-size:2.8rem;
    font-weight: 600;
    font-family: 'Lora', serif;
    color: #111;
    margin-bottom: 20px;
    position: relative;
}
.overlay-text h2::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 5px;
    background: #006a4e;
    bottom: -5px;
    left: 0;
}
.item-card3 .overlay-text h2::after {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
}
.item-card3 {
    background-position: bottom 0 center !important;
    background-size: 480px !important;
}

.item-card3 .overlay-text {
    padding-top: 1rem;
    padding: 1rem 25px;
}
.item-card3 .overlay-text h2 {
    margin-bottom: 30px;
}
.section-head {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Lora', serif;
    color: #111;
    margin-bottom: 20px;
    position: relative;

}
.section-head::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 5px;
    background: #006a4e;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
}


.owl-carousel .owl-item img {
    width: 100%;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    font-size: 1.25rem;
    transition: all .2s ease-in-out;
}

.owl-carousel .owl-prev {
    left: 0;
}



.owl-carousel .owl-next {
    right: 0;
}


.owl-carousel .owl-dots {
    text-align: center;
    margin: 0 0 20px;
}

.owl-carousel .owl-dots .owl-dot {
    position: relative;
    border: 1px solid transparent;
    border-radius: 100%;
    display: inline-block;
    padding: 4px;
    margin: 0 4px;
    transition: all .3s ease-in-out;
}

.owl-carousel .owl-dots .owl-dot > span {
    border-radius: 100%;
    background: #505cfd;
    display: block;
    height: 4px;
    width: 4px;
}

.owl-carousel .owl-dots .owl-dot.active {
    border-color: #505cfd;
}

.owl-carousel .owl-dots .owl-dot:hover {
    border-color: #505cfd;
    opacity: .5;
}

.image-slider img {
    margin-bottom: 20px;
}

.image-slider .owl-prev,
.image-slider .owl-next {
    background: rgba(0, 0, 0, .1);
    border-radius: 100%;
    line-height: 50px;
    font-size: 1.125rem;
    color: #fff;
    height: 48px;
    width: 48px;
    margin-top: -24px;
}

.image-slider .owl-prev {
    left: 20px;
}

.image-slider .owl-prev:hover {
    left: 15px;
}

.image-slider .owl-next {
    right: 20px;
}


.owl-carousel .owl-prev {
    left:-80px;
    background: transparent !important;
    color: transparent !important;
}
.owl-carousel .owl-prev::after {
    content: "\f104";
    color: #444;
    font-size: 55px;
    font-family: fontawesome;
}
.owl-carousel .owl-next::after {
    content: "\f105";
    color: #444;
    font-size: 55px;
    font-family: fontawesome;
}
.owl-carousel .owl-next {
    background: transparent !important;
    color: transparent !important;
    right:-25px!important;
}
.owl-theme .owl-nav{opacity:1!important;}
.owl-nav > div {
    top: 40% !important;
}
.item-mane {
    font-size: 18px;
}
.category-type {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 5px;
}

.item-price {
    font-size: 17px;
    display: block;
    float: left;
    width: 100%;
}
.item-info {
    padding: 5px 0; text-transform:uppercase;
}
.owl-dots{display:none;}
.section-head {
    font-weight: 600;
}
.item-link {
    color: #111!important;
}
.item-name {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.item-price {
    font-size: 22px;
    display: block;
    float: left;
    width: 100%;
    font-weight: 600;
}
.owl-carousel.owl-drag .owl-item {
    margin-bottom: 15px;transition: all 0.3s ease 0s;
}
.owl-carousel .owl-item:hover {
    box-shadow: 0 0 8px #efdada;

}
.item-card2 .overlay-content {
    padding-left: 1rem;
}


























.hero-head2 {
    color: #111;
    font-weight: 600;
    font-size: 27px;
    font-family: arial;
    position: relative;
    margin-top: 25px;
    margin-bottom: 19px;
}
.hero-head2::after {
    content: "";
    width: 50px;
    height: 1px;
    position: absolute;
    bottom: -5px;
    background: #111;
    left: 0;
}
.form-contact .form-control {
    border-radius: 0;
}
.form-contact .btn-submit {
    border-radius: 2px;
    padding: 6px 12px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    background: rgb(222, 177, 0);
}
.image-bx {
    position: relative;
    transition: all 0.3s ease 0s;
}
.image-bx h3 {
    font-size: 26px;
    text-align: center;
    background: #fff;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    transform: translatey(100%);
    opacity: 0;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    color: #111;
}
.image-bx:hover h3{transform: translatey(0);opacity:1;}

.image-bx {
    margin-bottom: 2rem;
    margin-top:2rem;
}
.section-tech .hero-head {
    margin: 2rem 0;
}
.section-tech .text-center p {
    text-align: center;color:#444;margin-bottom:0;
}
.color-txt {
    color: #000;
    font-weight: 600;
}
.border-bx {
    border-bottom: solid 2px #050505;
    border-top: solid 2px #050505;

}
.fig-card {
    height:525px;
    background-color: transparent !important;
    background-size: contain !important;
    border: none;
    border-radius: 0;
}
.fig-span {
    position: absolute;
    bottom: -70px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    /* padding: 1rem; */
    border: solid 1px #ececece6;
}
.quality-products {background:#f6fffd;}
.fig-span h4 {
    font-size:17px;
    font-weight: 600;
}
.link-aro {
    color: #111;
}

.fig-card-sml {
    height: 283px;
    background-color: transparent !important;
    background-size: contain !important;
    border: none;
    border-radius: 0;
    background-position: center left !important;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat !important;
    margin-bottom: 30px;
}
.fig-card-sml .card-body {
    position: relative;
    width: auto;
    left: 20%;
    right: 0;
    flex: 0 0 50%;
    bottom: auto;
    background: transparent;
    border: none;
    padding-right: 0;
    top: 0.8rem;
}


/* ==================================================
  Footer Styling
  ================================================== */
.site-footer {
    background-color: #111;
    padding: 0;
}

.site-footer h2, .site-footer p {
    color: #fff;
}

.site-footer p {
    opacity: .75;
    line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
    margin-bottom: 25px;
}

.site-footer .social-nav a {
    color: #fff;
    opacity: .25;
}

.site-footer .social-nav a:hover {
    opacity: 1;
}

.site-footer .bottom {
    background-color: #000;
    padding: 20px 0;
}

.site-footer .bottom .list-inline, .site-footer .bottom p {
    margin: 0;
}

.site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
}

.site-footer .bottom .list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
}
.site-footer .bottom .list-inline a:hover {
    color:#DEB100;
}

.site-footer .credits {
    color: #ddd;
}

.site-footer .credits a {
    color: #199EB8;
}
.back-top {   width:25px;    height:25px;    position:fixed;    bottom:68px;    right:15px;    display:none;    opacity:0.8;}
.back-top > i {background:#006a4e;  color: #fff; padding: 5px; box-shadow:0 0 8px #000; border-radius: 50%;   cursor: pointer;}
.tp-text {
    background: #eee;
    padding: 0 0 5px;
}
.tp-text h5 {
    font-size: 14px;
    padding: 12px 0 0;
}
.footer-widgets {
    background: #000;
    padding: 40px 0;
    color: #eee;
}
.widget-title h3 {
    font-family: Lora;
    font-weight: bold;margin-bottom: 1rem;
}
.footer-links li .fa {
    color: #f42a41;
    min-width: 30px;
}
.footer-links li {
    position: relative;
    margin-bottom: 5px;
}
.footer-links li:hover ul{display:block;transform:translate(0); opacity:1;}
.site-footer .bottom .list-inline li .submenu-btm li {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0;
}
.site-footer .bottom .list-inline li .submenu-btm li a {
    color: #444;
    display: block;
    margin: 0;
    text-align: left;
    padding: 5px 10px;
}
.od-list2{padding:0 0 0 15px;}
.od-list2 li {
    font-style: italic;
    margin-bottom: 10px;
}
.od-list2 li .h5 {
    font-size: 16px;
    color: #000;
}
.od-list2 li {
    font-style: italic;
    margin-bottom: 17px;
}
.line-btm {
    text-decoration: underline;
}
.footer-links a {
    color: #eee;
}
.footer-links li a {
    position: relative;
}
.footer-links li a::before {
    bottom: -7px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.35s ease-out 0s;
    width: 0;
}
.footer-links li a::before {
    background-color: #ff5a5f;
}
.footer-links > li:hover > a::before {
    background-color: #4285f4;
    width: 35%;
}
/* ===============
  ***TOGGLE-BTN ***
  ==================*/
.navbar-toggler {background: #000;width: 53px;height: 41px;}
.navbar-light .navbar-toggler-icon {position: relative;width: 25px;height: 2px;background: #fff;top: -2px;}
.navbar-light .navbar-toggler-icon::after, .navbar-light .navbar-toggler-icon::before {content: "";width: 100%;
    position: absolute;height: 2px;background: #fff;left: -3px;transition:all 0.3s ease 0s;}
.navbar-light .navbar-toggler-icon::after {top: -7px;left: 0;width: 20px;}
.navbar-light .navbar-toggler-icon::before {top: 7px;left: 0px;width: 30px;}
.navbar-toggler-icon{transition:all 0.3s ease 0s;}
.open .navbar-toggler-icon {transform: rotate(145deg);width: 26px;}
.open .navbar-toggler-icon::after {opacity: 0;}
.open .navbar-toggler-icon::before {transform: rotate(-111deg);width: 27px;height: 2px;top: 0px;left: 0px;}
.navbar-toggler:focus{outline:none;}
.tp-text{display:none;}
ul.social{text-align:center;}
ul.social{margin:0;padding:17px 0;text-align:center;width:140px;}
ul.social li {
    padding: 4px 5px;
    display: inline-block;
    min-width: 40px;
    height: 38px;
    overflow: hidden;
    line-height: 33px;
    background: #0e0d0d;
    border: solid 1px #fff;
    border-radius: 1px;
    margin-bottom: 0;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    margin-right: 5px;
}
ul.social li:hover{}
ul.social li:hover a{top:-35px;}
ul.social li a{display:block;width:100%;height:200%;position:relative;top:0;color:#ccc;-webkit-transition:top 0.7s;-moz-transition:top 0.7s;-o-transition:top 0.7s;transition:top 0.7s;font-size:21px;line-height:32px; text-decoration:none;}
ul.social li a:after{text-align:center;position:absolute;width:inherit;height:22%;left:0;bottom:16px !important;line-height:36px;color:#fff;}
.social li a i::after {
    top: 40px !important;
    color:#006a4e;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.3s ease 0s;
}
.icon-twitter::after{content:"\f099";font-family:FontAwesome;}
.icon-facebook::after{content:"\f09a";font-family:FontAwesome;}
.icon-pinterest::after{content:"\f0d2";font-family:FontAwesome;}
.icon-google-plus::after{content:"\f0d5";font-family:FontAwesome;}
.icon-rss::after{content:"\f09e";font-family:FontAwesome;}
.icon-youtube::after{content:"\f167";font-family:FontAwesome;}
.icon-instagram::after{content:"\f16d";font-family:FontAwesome;}
.icon-linkedin::after{content:"\f08c";font-family:FontAwesome;}
.footer-bar {
    background: #006a4e;
    color: #fff;
    padding-top: 15px;
}
.newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    width: 74%;color:#eee;
}
.user-btn {
    background: transparent;
    color: #444 !important;
    border: none;
    float: right;
    margin-left: auto;
    padding-right: 23px;
}
.btn-sub:hover {
    background: #005a3e;
    border-color: #005a3e;
}
.newsletter-form {
    margin-bottom: 15px;
}
.btn-sub {
    background: #006a4e;
    border: solid 2px #006a4e;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 0.1rem 0.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bread-links {
    background: #f6fffd;
}
.bread-links .breadcrumb{background:transparent;}
.bread-links .breadcrumb a {
    color: #006a4e;
}
.drop-list {
    display: flex;
}
.theme-select {
    position: relative;
    border: solid 1px #ccc;
    display: block;
}
.theme-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    padding-right: 25px;cursor:pointer;
}
.drop-list li {
    padding: 0 15px;
}
.drop-list li:last-child{padding-right:0;}
.theme-select::after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 8px;
    font-family: fontawesome;
}
.star-list span {
    color: #006a4e;
}
.star-list span.empty{color:#111;}
.product-img {
    height: 245px;
    background-size: cover !important;
    background-position: center center !important;margin-bottom: 10px;
}
.product-card .pro-info {
    padding: 0 10px;
}
.product-card {
    padding: 5px;
    border: none;border-radius: 0;margin-bottom: 25px;padding-bottom: 20px;
}
.product-card .pro-name {
    font-size: 15px;
    font-weight: 600;
}
.product-card .item-info {
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    color: #006a4e;
}
.product-card .item-price {
    margin-bottom: 20px;
}
.btn-cart {
    width: 150px;
}
.btn-cart:hover{background:#006a4e;}
.product-card:hover {
    box-shadow: 0 0 5px #ede1e1;
}
.product-card:hover .item-info {
    color: #f42a41;
}
.bottom-pages .pagination li {
    padding: 0 4px;
}
.bottom-pages .pagination li a {
    color: #111;
    border-color: #111;
    border-radius: 0 !important;
}
.bottom-pages .pagination li.active a{background:#111;border-color: #111;}
.blog-heading {
    font-family: 'Lora', serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.post-info .breadcrumb {
    background: transparent;
}
.post-info .breadcrumb a{color:#006a4e;}
.autthor-info {
    background: #f6fffd;
    padding: 25px;
}
.autthor-info img {
    margin-right: 15px;
}
.author-name {
    font-size: 20px;
    color: #006a4e;
    font-weight: 600;
    text-transform: uppercase;
}
.small-txt {
    font-size: 16px;
}
.author-conatact {
    color: #111;
    font-size: 17px;
    border-bottom: solid 1px #000;
}
.tag-info h4 {
    padding: 24px 10px 0 0;
}
.share-links ul li {
    border: solid 1px #000;
    color: #000;
    background: transparent;
}
.share-links ul li a{color:#111;}
.share-links ul li:hover a{color:#fff;}
.img-links .pre-post {
    position: absolute;
    display: block;
    text-align: center;
    top: 47%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
}
.img-links {
    position: relative;
    text-align: center;
}
.img-links:hover {
    background: rgba(52, 124, 107 ,0.8);
}
.img-links .pre-post {
    position: absolute;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    display: block;
    padding: 4rem;
    background: rgba(52, 124, 107, 0.85);
    transition:all 0.3s ease 0s;
}
.img-links:hover .pre-post{opacity:1;}

.comment-form {
    background: #f6fffd;
    padding-left: 2rem;
    padding-right:2rem;
    padding-top: 3.8rem;
    padding-bottom:4rem;
    margin-bottom: 4rem;
}
.comment-form .form-control {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 13px #e0e0e1;
}
.comment-form h4, .comment-form h3 {
    font-family: Lora;
    font-weight: bold;
    margin-bottom: 1rem;
}
.tag-info a {
    color: #111;
}
.tag-info a:hover{text-decoration:underline; color:#006a4e;}

/* CART-PAGE */
.product__info__main h1, .rate-txt {
    color: #006a4e;
    font-family: "Lora";
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
}
.product-info-stock-sku p {
    color: #f42a41;
}
.ratings-list li {
    color: #111;
    list-style: none;
    min-width: 18px;
}
.ratings-list li i{color:#006a4e}
.btn-try {
    width: 100%;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 200;
    background: #006a4e;
}
.color-list li {
    position: relative;
    width: 23px;
    list-style: none;
    display: inline-block;
}
.color-list {
    display: inline-block;
    margin:0;
    padding: 0;
    flex-wrap: wrap;
    margin-left: -35px;
}
.color-list li input {
    position: absolute;
    left: 36px;
    z-index: 1;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    top: 5px;
}
.color-list li input + label span {
    content: "";
    width: 14px;
    height: 15px;
    position: absolute;
    z-index: 0;
    border-radius: 0;
}
/*.color-list li:nth-child(1) input + label::after {*/
/*    background: #b9eab9;*/
/*}*/
/*.color-list li:nth-child(2) input + label::after {*/
/*    background: #bfd6f6;*/
/*}*/
/*.color-list li:nth-child(3) input + label::after {*/
/*    background: #ffb0b0;*/
/*}*/
/*.color-list li:nth-child(4) input + label::after {*/
/*    background: #c8b1fa;*/
/*}*/
/*.color-list li:nth-child(5) input + label::after {*/
/*    background: #c8b1fa;*/
/*}*/
/*.color-list li:nth-child(6) input + label::after {*/
/*    background: #fd87cd;*/
/*}*/
/*.color-list li:nth-child(7) input + label::after {*/
/*    background: #7d7d7d;*/
/*}*/
/*.color-list li:nth-child(8) input + label::after {*/
/*    background: #b7b7b7;*/
/*}*/
/*.color-list li:nth-child(9) input + label::after {*/
/*    background: #393939;*/
/*}*/
/*.color-list li:nth-child(10) input + label::after {*/
/*    background: #311f5a;*/
/*}*/
/*.color-list li:nth-child(11) input + label::after {*/
/*    background: #e6de00;*/
/*}*/
/*.color-list li:nth-child(12) input + label::after {*/
/*    background: #f08d4b;*/
/*}*/
/*.color-list li:nth-child(13) input + label::after {*/
/*    background: #7960b1;*/
/*}*/
/*.color-list li:nth-child(14) input + label::after {*/
/*    background: #59c463;*/
/*}*/
.color-list li input[type="radio"]:checked + label::before {
    content: "";
    width: 18px;
    height: 19px;
    position: absolute;
    border: solid 2px #006a4e;
    position: absolute;
    margin: -2px;
    border-radius: 0;
}
.filter h5 {
    margin-bottom: 0;
}
.size-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.size-list li {
    position: relative;
    width: auto;
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.size-list li input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
}
.size-list li input + label {
    border: solid 1px #000;
    padding: 0.3rem 0.5rem;
    width: 2.2rem;
    text-align: center;
}
.numbers-row > input {
    max-width: 110px;
    padding: 5px 10px;
    width: 100%;
}
.size-list li input:checked + label{background:#006a4e;color:#fff; border-color:#006a4e;}
.brinz-btn {
    width: 156px;
    margin-right: 15px;
}
.related-products{background:#f6fffd;}
.cart-page .alert {
    width: 100%;
    display: flex;
}
.cart-items .item-info {
    color: #006a4e;
}
.cart-page .form-control {
    width: 100px;
}
.cart-page table td {
    min-width:130px;

}
.item-pro {
    min-width: 84px;
}
.cart-page table tbody tr td.actions {
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}
.cart-page .btn-danger {
    border: solid 1px #000;
    width: 25px;
    padding: 0;
    background: #fff;
    color: #000;margin-top: 25px;
}
.cart-page h5 {
    font-size: 17px;
}
.heading-cart{font-weight: 600;
    font-family: 'Lora', serif; position:relative;}
.heading-cart::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 5px;
    background: #006a4e;
    bottom: -5px;
    left: 0;
}
.totals-item {
    font-size: 17px;
    margin: 0;
}
.totals-item label {
    text-transform: uppercase;
}
.totals-item .totals-value {
    margin-left: auto;
}
.total-card {
    background: #f6fffd;margin-bottom:4rem;
}
.btn-groups a {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.btn-groups a:first-child {
    background: #006a4e;
}
.btn-groups a {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 0.8rem 1rem;
}
.coupon-form .form-control {
    width: 271px;
    background: #f6fffd;
    border: none;
}
.head-left {
    margin-bottom: 16px;
}
.head-left a{color:#006a4e}
.checkout-content h4{color: #111;
    font-family: "Lora";
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;}
.green-txt{color:#006a4e;}
.checkout-content-color{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.item-summary {
    width: 100px;
    min-width: 100px;
    margin-top: 6px;
}
.form-box label {
    text-transform: uppercase;
}
.form-box .form-control {
    width: 100%;
    border: solid 1px #7b7a7a;
    border-radius: 0;
}
.no-mb {
    margin-bottom: 0;
}
.check-list li {
    display: inline-block;
    margin-right: 10px;
    padding-left: 30px;
    position: relative;
}
.check-list li input[type="checkbox"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index:1;
}
.check-list li input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    border: solid 2px #ccc;
    width: 20px;
    height: 20px;
    border-radius:2px;
    left: 0;
    top: 1px;
    transition: all 0.5s ease 0s;
}
.check-list li input[type="checkbox"] + label span {

    content: "";
    position: absolute;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 6px;
    height: 9px;
    left: 7px;
    top: 5px;
    transition: all 0.5s cubic-bezier(.65,.05,.36,1) 0s;
    transform: scale(1.9);
    opacity: 0;

}
.check-list li input[type="checkbox"]:checked + label::before {
    background: #1d1c1c;
    border-color: #1d1c1c;
}
.check-list li input[type="checkbox"]:checked + label span {
    transform: scale(1) rotate(37deg);
    opacity: 1;
}
.checkout-content .btn-block {
    font-weight: 100;
    font-size: 13px;
    background: #000;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
}
.checkout-content .btn-block:hover{background:#006a4e}

/* MEGA-MENU */
.list-group-sm .list-group-item {
    padding: .25rem .75rem;
    border: none;
    color: #000;
}
.mega-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width:25rem;
    padding: .25rem 0;
    margin:0 0 0;
    font-size: .875rem;
    color: #606975;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.075);
}
.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.mega-menu {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center right 1.5rem!important;
    z-index: 3333 !important;
    position: absolute;
    background-color: #fff !important;
}
.nav-combo .mega-menu a:hover{color:#006a4e;text-decoration:underline!important;}
.mega-menu a{position:relative;transition:all 0.3s ease 0s;}
.adsModal .modal-dialog {
    background: url(../images/coupon-bg.png);
    background-color: transparent;
    background-size: cover !important;
    background-position:center center !important;
    width: 35rem;
    height: 25rem;
    top:5rem;
}
.adsModal .modal-content{background: transparent;}
.adsModal .close {
    border: solid 2px #fff;
    width: 40px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px;
    position: absolute;
    right: -40px;
    color: #fff;
    top: -20px;
}
.adsModal .close:hover{background:#fff; color:#000;opacity:1;}
.adsModal .jumbotron {
    background: transparent;
    margin-bottom: 0;
}
.adsModal h3 {
    font-family: 'Lora';
    font-weight: 600;
    margin-top:1rem
}
.adsModal img {
    max-width: 200px;
    margin-bottom: 25px;
}
.adsModal .card{background:transparent;border:none; box-shadow:none;margin-bottom:0}
.adsModal .bth:hover{background:#006a4e}
.search-tog{position:relative;}
.search-tp input {
    width: 100%;
    padding: 5px 10px;
}
.right-nav{position:relative;}
.search-tp {
    position: absolute;
    right: 0;
    width: 31%;
    /* width: 0; */
    opacity: 1;
    z-index: 1000;
    /* -webkit-transition: width 0.4s ease-in-out; */
    /* transition: width 0.4s ease-in-out; */
}
.search-tp.expand{width: 390px; opacity:0;}
.btn-search {
    padding:7px 15px;
    background: #006a4e;
    transition: all 0.3s ease 0s;
    margin-right: 0;
}
.search-tog .fa, .search-tog a span{transition: all 0.3s ease 0s;}
.show-search a .search-txt{display:none;}
.show-search a .close-tog{display:inline-block !important;padding-right: 15px;}
.show-search .fa-search::before {
    content: "\f00d";
    transform: rotate(180deg);
    color: green;
}
.btn-search:hover{color:#024f3b;}
/* CART-Modal */
/* MODAL-CSS */
.modal.right .modal-dialog {position: fixed;margin: auto;width:350px;
    height: 100%;-webkit-transform: translate3d(0%, 0, 0);-ms-transform: translate3d(0%, 0, 0);-o-transform: translate3d(0%, 0, 0);transform: translate3d(0%, 0, 0);}
.modal.right .modal-content {height: 100%;overflow-y: auto;}
.modal.right .modal-body {padding: 15px 15px 80px;}
.modal.left.fade.in .modal-dialog{left: 0;}
.modal.right.fade .modal-dialog {right: -350px;-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;-moz-transition: opacity 0.3s linear, right 0.3s ease-out;-o-transition: opacity 0.3s linear, right 0.3s ease-out;transition: opacity 0.3s linear, right 0.3s ease-out;}
.modal.right.fade.in .modal-dialog {right: 0;}
.modal-content {border-radius: 0;border: none;}
.modal-header {border-bottom-color:#006a4e;background-color: #006a4e; color:#eee;border-radius: 0;}
.modal.right.show .modal-dialog{right:0;}
.cart-modal .modal-header h4 {
    text-align: center;
    width: 100%;
    font-family: 'Lora';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.cart-modal{z-index:99999}
.cart-modal .close {
    position: absolute;
    left: 0;
    border: none;
    box-shadow: none;
    padding: 19px 20px;
    color: #eee !important;
    font-size: 20px;
    color: #fff;
    opacity: 1;
    right: auto;
    top: 15px;
}
.product-item {
    height: 80px;
    width: 80px;
    background-size: cover !important;
    background-position: center center !important;margin-right: 15px;
}
.total-box .total-price {
    color: #006a4e;
    border-top: solid 2px #006a4e;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.items_list li {
    display: flex;
    position: relative;
}
.item-name {
    font-size: 0.85rem;
    text-overflow: ellipsis;
    max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
}
.item-quantity {
    font-size: 15px;
    margin: 5px 0;
}
.item-price .old-price {
    text-decoration: line-through;
    margin-right: 10px;
}

.cart-modal .btn-cart {
    display: block;
    background: #000;
    color: #fff;
    margin-top: 35px;
}
.cart-modal .btn-cart:hover{background:#006a4e;}
.btn-coupon:hover{background:#006a4e;}
.delete-link {
    color: #444;
    position: absolute;
    right: 15px;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.items_list li:hover .delete-link{opacity:1;}
.item-wrapper {
    height: 60vh;
    overflow-y: auto;
}
.cart-header{border-bottom:solid 1px #ccc;}
.cart-header h1{font-weight:100;}
.cart-header a{color:#111; }
.cart-header a {color: #111;padding-top: 0.5rem;text-decoration: underline;}
.alert-top {font-size: 14px;font-weight: 100;color: #111;}
.slide-bx .item-info .item-name {
    min-width: 100%;
}


.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    width: 115px;
    height:36px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
.pt_Quantity {
    position: relative;
    width:115px;
}
.pt_QuantityNav {
    position: absolute;
    right: 13px;
    top: -5px;
}
.pt_QuantityUp > i {
    top: 0.3rem;
    position: relative;
    cursor: pointer;
}
.pt_QuantityDown > i {
    position: relative;
    bottom: 4px;
    cursor: pointer;
}

/* LOGIN-MODAL */

/* LOGIN-MODAL */
button.close {
    font-size: 26px;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #bcb8b2;
    z-index: 100
}
button.close:hover {
    color: #333;
    opacity: 1
}
.auth-modal.no-guest-checkout .modal-body {
    padding: 30px 30px 15px 30px;
}
.modal .content-block.js-login-register-flow {
    width: auto;
    box-shadow: none;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    display: table-cell;
    width:50%;
}
.js-login-register-flow .login-tabs li a, .modal .no-guest-checkout.login-tabs li a {
    color: #444;
    background: #eae8e3;
    border-color: #dfddd8;
    border-top-color: #eae8e3;
    font-size: 16px;
    font-weight: 700;
    float: left;
    width: 100%;
    border: solid 1px #ccc;
    text-align: center;
    padding: 5px 12px;
}
.js-login-register-flow .login-tabs li a.show, .js-login-register-flow .login-tabs li a.active:hover, .modal .no-guest-checkout.login-tabs li a.active, .modal .no-guest-checkout.login-tabs li a.active:hover {
    border-color: #662D91;
    background-color: #fff;
    color: #444;
}
.js-login-register-flow .facebook-login-container {
    margin-top: 15px;
}
.facebook-login-container {
    position: relative;
    margin-bottom:10px;
}
.facebook-login-container a.init-facebook-login {
    color: #fff;
    border: 1px solid #2d5073;
    background-color: #3a5898;
    border-radius: 4px;
    position: relative;
    font-family: arial;
    font-size: 17px;
    letter-spacing: 0.05em;
    font-weight: 100;
    text-transform: none;
    opacity: 0.85;
    padding: 9px 12px;
    max-width: 300px;
    margin: 0 auto;
}
.facebook-login-container a.init-facebook-login:hover{opacity:1;}
.facebook-login-container a.init-facebook-login::before {

    -webkit-filter: none;
    filter: none;
    -ms-filter: none;
    color: #fff;
    content: "\f09a";
    position: absolute;
    left: 16px;
    top: 6px;
    font-family: fontawesome;
    font-size: 20px;
}
.js-login-register-flow .facebook-login-container .or-separator {
    width: 100%;
    left: 0;
    margin-top: 25px;
    position: relative;
}
.facebook-login-container .or-separator::after, .facebook-login-container .or-separator::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    border-top: 1px solid #e1e1e1;
}
.facebook-login-container .or-separator::before {
    left: 0;
}
.facebook-login-container .or-separator::after {
    right: 0;
}
.facebook-login-container .or-separator {
    text-align: center;
    color: #666;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border-color: #c4cdd5;
}
.login__remember-me {
    float: left;
    width: 50%;
}
.login__forgot-password {
    float: left;
    width: 50%;
}
.login__forgot-password {
    text-align: right;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0;
    padding-left: 25px;
}

.login__forgot-password a, .login__forgot-password a:active, .login__forgot-password a:hover, .login__forgot-password a:visited {
    color: #000;
}
.no-guest-checkout .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    padding: 9px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
    opacity: 0.85;
    max-width: 300px;
    margin: 10px auto 0;
    font-weight:100; text-transform:none;
}
.no-guest-checkout .btn-primary:hover{opacity:1; background:#006a4e; border-color:#006a4e;}
.login__remember-me{position:relative;}
.auth-modal form input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.auth-modal form label{position:relative;}
.auth-modal form input[type="checkbox"] + label::before{
    content:"";
    border:solid 1px #777;
    width:19px;
    height:19px;
    background:#fff;
    position:absolute;
    left: 0;
    transition:all 0.3s ease 0s;

}
.auth-modal form input[type="checkbox"]:checked + label::before{
    background:#fff;
    background-color: #000;
    border-color: #000;
    left: 0;
    transition:all 0.3s ease 0s;
}
.auth-modal form input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: fontawesome;
    left: 2px;
    color: #fff;
    position: absolute;
    top: -3px;
    font-weight: 100;
    transition:all 0.3s ease 0s;
}
.auth-submit{margin-bottom:25px;}
.login__email {
    margin-bottom: 0;
    position:relative;
}
.input-helper {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    white-space: nowrap;
    color: #95a7b7;
    position: absolute;
    bottom:10px;
    left: 10px;
}
.next-icon--size-20 {
    width: 25px;
    height: 25px;
    fill: #95a7b7;
}
.login__password{position:relative;}
.login__email input, .login__password input{padding-left:38px;}
input::placeholder{color:#95a7b7!important}
.modal input:focus{
    border: 1px solid #5c6ac4;
    -webkit-box-shadow: 0 0 0 1px #5c6ac4;
    box-shadow: 0 0 0 1px #5c6ac4;
}
.modal input:focus .next-icon--size-20{fill: #5c6ac4;}
.sign-up .form-group {
    margin-bottom: 0;
}
.sign-up .cst-group{margin-bottom:1em;}
.login__submit {
    margin-top: 15px !important;
    float: left;
    width: 100%;
}
.total-box .btn-cart {
    width: 100%;
    background: #006a4e;
}

/* global style css */
.breadcrumb-item, .breadcrumb-item a{
    text-transform: uppercase;
}

/* voucher page start */
.voucher-left .voucher-heading{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lora', serif;
    padding-top:12px;
}
.voucher-text-p {
    padding-bottom: 12px;
    padding-top: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.card-gift-bottom h6{
    margin-top: 25px;
}
.card-gift-bottom h2{
    font-weight: bold;
    color: #006a4e;
}
.star-voucher .star-list span{
    font-size: 18px;
}
.voucher-review-text{
    font-size: 15px;
}
.btn-voucher{
    margin-bottom: 28px;
    margin-top:28px;
    font-weight: 400;
    font-size: 15px;
    padding-top:15px;
    padding-bottom:15px;
}
.voucher-form-start{
    color:red;
    padding-left:1px;
    display: inline-block;
}
.voucher-form label{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 16px;
}
.voucher-form input{
    border-radius: 0;
    border:none;
    background-color:#eeeeee;
    height:50px;
}
.voucher-form textarea{
    background-color:#eeeeee;
    border-radius: 0;
    border:none;
    margin-bottom:30px;
}
.voucher-form button{
    border:none;
    font-weight: 400;
    font-size: 15px;
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
    margin-bottom:120px;
}

.pd-right-input{
    padding-left:15px !important;
}
.pd-left-input{
    padding-right:15px !important;
}

/* Blog */
.blog .btn-blog{
    margin-top:25px;
    margin-bottom:25px;
}
.blog h3{
    font-weight: bold;
    font-family: 'Lora', serif;
    margin-top:18px;
}
.blog .latest-news{
    color: #006a4e;
}
.latest-news-ol{
    background-color:transparent;
    padding:0;
    margin-bottom:30px;
    margin-top:-6px;
}
.pagination-blog{
    margin-bottom:120px;
}

/* Contact */
.single-div-contact{
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.1);
    padding-top: 27px;
    padding-bottom:28px;
    margin-top:14px;
    min-height:300px
}
.single-div-contact h3{
    font-family: 'Lora', serif;
    margin-bottom:28px;
}
.single-div-contact ul li{
    line-height: 1.6;
}
.single-div-contact ul li i{
    color: #006a4e !important;
}
.visit-hours p{
    margin-bottom:14px;
}
.visit-hours p:last-child{
    margin-bottom:0px;
}
.contact-social ul li{
    background:transparent;
    border: 1px solid #000000;
}
.contact-social ul li{
    background:transparent;
    border: 1px solid #000000;
}
.contact-social .list-inline.social li a i{
    color: #000000;
}
ul.social li:hover a>i{
    color: #fff !important;
}
.contact-form-heading{
    margin-bottom: 28px !important;
}
.contact-form-heading:after{
    margin:0 auto !important;
    left:0;
    right:0;
}

/* blog details */
.replay-blog-msg{
    display: inline-block;
}
.replay-text-blog-details{
    padding-left:7px;
    display:inline-block
}
.blog-message ul > li{
    background: #fff;
    padding:15px;
    box-shadow: 0px 2px 7.68px 0.32px rgba(6, 3, 9, 0.1);
}
.full-box-msg-replay,
.replay-comment-bottom{
    box-shadow: 0px 2px 7.68px 0.32px rgba(6, 3, 9, 0.1) !important;
}
.replay-message a{
    color: #000;
}
.replay-message-box-post{
    display: none;
}
.blog-details-brdcm.breadcrumb{
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border-radius: .25rem;
}

.blog-details-ol.breadcrumb{
    background: transparent !important;
    padding: 0 0 10px 0;
}
.blog-details-ol.breadcrumb li a{
    text-transform: capitalize;
    color: #11745a;
    font-size: 14px;
}

/* sourcing_policty */
.full-content{
    margin-bottom:60px;
}
.sourcing h3.single-page-heading{
    font-family: 'Lora', serif;
    font-weight: bold;
}

/* profiles-setting */
/* input type file image upload */
input[type="file"]#profile-img,
input[type="file"]#profile-img2
{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.profile-img-label{
    cursor: pointer;
}
.small-profile-img-div {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2px;
    left: 10px;
}
.small-profile-img-div img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 21px;
}
/*upload image banner label 2 style */
.profile-large-img .profile-img-label2{
    position:absolute;
    bottom:20px;
    right:20px;
    background:#000;
    color:#fff;
    padding:15px 28px;
    cursor: pointer;
}
.profile-large-img .profile-img-label2 i{
    font-size:12px;
}
#profile-banner-image{
    height:250px;
    width:100%;
}

.small-profile-img-div label{
    z-index: 1000;
    position: absolute;
    color:#fff;
    font-size:14px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition:.3s all;
}
.small-profile-img-div label:hover{
    color:#000;
    background: #fff;
    padding-left:2px;
    padding-right:2px;
}
.profile-large-img label:hover{
    color:#000;
    background: #fff;
}
.small-profile-img-div label i{
    font-size:11px;
}
.profiles-setting .profile-image{
    position: relative;
    margin-top:30px;
    margin-bottom:80px
}
.profiles-setting .profile-image a{
    position: absolute;
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.profiles-setting .profile-image a i{
    padding-right:1px
}
.profile-image a.banner-image-profile-btn{
    background: #000;
    padding: 10px 26px;
    right: 20px;
    bottom:20px;
}
.profile-image a.banner-image-profile-btn i{
    font-size:12px;
}
.profiles-setting-form label{
    text-transform: uppercase;
    color:#5d5d5d;
}
.profiles-setting-form input{
    border-radius: 0;
    border-color: rgb(204, 204, 204);
    padding:20px;
    box-shadow: 0px 2px 7.68px 0.32px rgba(13, 13, 13, 0.02);
    color: #ccc;

    transition:.3s border-color;

}
.profiles-setting-form input:focus{
    border-color: #006a4e;
    box-shadow: none;
}
.profiles-setting-form p.change-email{
    text-decoration: underline;
    margin-bottom:12px;
}
.profiles-setting-form p.change-password{
    color:#11745a;
    margin-bottom:12px;
}
.profile-settings-btn-form{
    box-shadow: none;
    padding:20px 30px;
    border-color:transparent;
}
.profile-settings-btn-form:hover{
    box-shadow: none;
    border-color:transparent;
}
/*profile-large-img */
.profile-large-img{

}
/* profile-payments */
.profiles-payments .profile-image{
    position: relative;
    margin-top:30px;
    margin-bottom:80px
}
.profiles-payments .profile-image a{
    position: absolute;
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.profiles-payments .profile-image a.small-image-profile-btn{
    left:10px;
    bottom:-42px;
}
.profile-payments-content-left h4{
    font-size: 20px;
    margin-bottom:6px;
    margin-top:0;
}
.profile-payments-content-left p.user-destination
{
    color:#26775f;
    margin-bottom: 7px
}
.profile-payments-content-left  p.online-time{
    font-size: 12px;
}
.profile-payments-ul li{
    padding-left:26px;
    line-height: 1.8;
}
.profile-payments-ul li i {
    color: #006a4e !important;
    position: absolute;
    left: 0;
    top: 3px;
}
.site-main-color{
    color: #006a4e;
}

/* profile-payments tab */
.tabs-profile-payments{

}
.tabs-profile-payments li.nav-item a{
    padding:15px 18px;
    border-radius: 0;
    color: #000;
}
.tabs-profile-payments li.nav-item a.active{
    background: #006a4e;
    color: #fff;
}
.tabs-profile-payments ul.nav.nav-pills
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(243, 243, 243);
}
.content-payment-profile{
    margin-top:34px;
}
.tabs-profile-payments ul.list-group li {
    padding-left: 0;
    margin-bottom: 14px;
}
.tabs-profile-payments ul.list-group li label{
}
.tabs-profile-payments   input[type="checkbox"] + label, input[type="radio"] + label {
    padding-left: 40px;
}
.tabs-profile-payments .check-list li input[type="checkbox"] + label::before {
    border: solid 1px #1d1c1c;
    border-radius: 0;
    width:24px;
    height:24px;
}
.tabs-profile-payments .check-list li input[type="checkbox"] + label::after {
    width: 6px;
    height: 10px;
    left: 9px;
    top: 6px;
}
.tabs-profile-payments select {
    border-radius: 0;
    border-color: rgb(204, 204, 204);
    box-shadow: 0px 2px 7.68px 0.32px rgba(13, 13, 13, 0.02);
    transition: .3s border-color;
}
.tabs-profile-payments select:focus{
    box-shadow: none;
    border-color: #006a4e;
}
.tabs-profile-payments select option {
    color: #000 !important;
}
.tabs-profile-payments .check-list li input[type="checkbox"]:checked + label {
    color: #006a4e;
}
.tabs-profile-payments .check-list li input[type="checkbox"]:checked + label::before {
    background: #006a4e;
    border-color: #006a4e;
}
.payment-profile-form-btn{
    background: #006a4e;
    padding:20px 30px;
}
/* purchase history tab */
#purchase-increment-td{
    vertical-align: middle !important;
}
.purchase-history-table td{
    border-top:transparent;
}
.payment-history-h5{
    font-size:15px !important;
}
.col-inner-div{
    vertical-align: middle;
    min-height:140px;
}

/* date picker button only */
.gj-datepicker.gj-datepicker-bootstrap button
{
    box-shadow: none;
    background:transparent;
    border-left:none;
}
.gj-datepicker.gj-datepicker-bootstrap input{
    border-right:none;
}
.gj-datepicker.gj-datepicker-bootstrap button i
{
    color:#e4e4e4;
}
.gj-datepicker.gj-datepicker-bootstrap input:focus+ span button{
    border-color: #006a4e;
}
.gj-datepicker.gj-datepicker-bootstrap input:focus+ span button i{
    color: #006a4e;
}

/* Login Register */
.loginRegister{
    background-color: #f8f8fd;
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.05);
}
.loginRegister-Innersection{
    background-color: #fff;
    padding: 60px 28px;
    box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.05);

}
.tabs-register-login ul.nav-pills li a{
    color: #fff;
    background: #000;
    text-transform: uppercase;
}
.regLogH3 {
    font-family: 'Lora', serif;
    margin: 28px 0 29px;
}
.stay-with-p{
    width: 316px;
    margin:0 auto;
    line-height: 1.9;
}
.RegLogInput::placeholder{
    text-align: center;
}
input.RegLogInput{
    padding:18px !important;
    text-align: center;
    box-shadow: none;
    border-color:#000;
    height:50px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition:.3s all;
}
.RegLogInput:focus{
    border-color:red !important;
    color:#000;
}

/*social icon of register login page */
.register-login-social{
    display: flex;
    justify-content: center;
}
.register-login-social ul.social{
    width:223px;
}
.register-login-social ul.social li{
    background: #000 !important;
}
.register-login-social ul.social li a i{
    color: #fff !important;
}


/* For Menu */
/* sub menu */
.menu .dropdown-menu{
    left:90% !important;
    top:-5px !important;
}
.menu .sub-menu{

}
.menu-btn{
    cursor: pointer;
}

.menu-btn i{
    margin-left:7px;
}
.menu:hover .menu-btn{
    color: #006a4e;
    text-decoration: underline!important;
}
.sub-menu{
    left:100%;
    top:0;
}

#navBar ul{
    margin:0;
    padding:0;
    display:block;
}
#navBar ul li{
    margin:0;
    padding:0;
    display: inline-block;
    list-style-type: none;
}
#navBar .dropdown a i{
    margin-left:4px;
    display: inline-block;
}
.dropdown-menu ul li{
    display: block !important;
}
.dropdown-menu ul li a{
    padding-top:7px !important;
    padding-bottom: 7px !important;
}
ul li ul .dropdown-menu {
    left: 90% !important;
    top: -5px !important;
}
#navBar ul li a{
    display: inline-block;
}
.dropdown-menu ul li:hover>a{
    color: #006a4e;
    background-color: #f8f9fa;
}
@media only screen and (max-width:768px){
    .dropdown-menu{
        position: absolute !important;
        background-image: none !important;
        min-width: 11rem !important;
    }
    .dropdown-menu .col-6.menuContainer{
        max-width:100%;
    }
}
