/* Login Form Area css
============================================================================================ */
.ic_main_form_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        background: url(../img/login-bg.png) no-repeat scroll center center;
        background-size: contain;
        max-width: 376px;
        width: 100%;
        position: absolute;
        left: 90px;
        top: 0%;
        height: 100%;
    }
    .container{
        vertical-align: middle;
        align-self: center;
    }
}
.ic_main_form_inner{
    background: #fff;
    box-shadow: 2px 3.464px 14.72px 1.28px rgba(16, 16, 16, 0.15);
    .form_img{
        overflow: hidden;
    }
    .form_box{
        max-width: 460px;
        text-align: center;
        margin: auto;
        vertical-align: middle;
        align-self: center;
        img{
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            color: $bl;
            font-family: $kar;
            margin-bottom: 50px;
        }
        .login_form{
            max-width: 430px;
            margin: auto;
            .form-group{
                margin-bottom: 20px;
                input{
                    font-family: $kar;
                    padding: 0px 15px 0px 50px;
                    box-shadow: none;
                    background: #fafefd;
                    border-color: #fafefd;
                    box-shadow: 1px 1.732px 7.68px 0.32px rgba(0, 0, 0, 0.05);
                    height: 50px;
                    border-radius: 0px;
                    position: relative;
                    font-size: 16px;
                    color: $pfont;
                    @include placeholder{
                        font-size: 16px;
                        color: $pfont;
                        font-family: $kar;
                    }
                    &:focus{
                        color: $baseColor;
                    }
                    &:focus ~ i {
                        color: $baseColor;

                    }
                }
                i{
                    position: absolute;
                    left: 32px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.remember {
                    text-align: left;
                    margin-top: 5px;
                    margin-bottom: 22px;
                    input{
                        height: 0px;
                        padding: 0px;
                        width: 0px;
                        display: none;
                    }
                    label{
                        margin-bottom: 0px;
                        color: $bl;
                        font-size: 16px;
                        font-weight: normal;
                        font-family: $kar;
                        position: relative;
                        top: 1px;
                    }
                    a{
                        text-align: right;
                        float: right;
                        color: $bl;
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    span{
                        color: $baseColor;
                    }
                }
                .submit_btn{
                    margin-top: 10px;
                }
            }
        }
    }
}

.login_social{
    display: flex;
    justify-content: center;
    li{
        margin-right: 10px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            background: $bl;
            color: #fff;
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 18px;
            display: inline-block;
            position: relative;
            left: 0px;
            top: 0px;
            text-align: center !important;
            position: relative;
            transform: perspective(1px) translateZ(0);
             &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $baseColor;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 50%;
                transform-origin: 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            &:hover{
                &:before{
                    transform: scaleX(1);
                }
            }
        }
    }
}

.submit_btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: 100%;
    border-radius: 0px;
    height: 50px;
    font-size: 16px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    position: relative;
    transform: perspective(1px) translateZ(0);
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $baseColor;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover, &:focus{
        color: #fff;
        &:before{
            transform: scaleX(1);
        }
    }
}


.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    height: 0px;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    & + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: #a1a1a1;
        position: relative;
        top: 1px;
    }

    // Box hover
    &:hover + label:before {
        background: $baseColor;
    }

    // Box focus
    &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
        background: $baseColor;
    }

    // Disabled state label.
    &:disabled + label {
        color: #acacac;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: "";
        position: absolute;
        left: 3px;
        top: 13px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
            4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
        opacity: 1;
    }

}

/* End Login Form Area css
============================================================================================ */